// variables required by other scss files

// this is calculated from the existing height
$navbar-height: 48.75px;

$sticky-detail-header-height: 50px;

$sidebar-width: 250px;

@import "styles/theme";
@import "styles/range";
@import "styles/scrollbars";
@import "sfw-mode.scss";
@import "components/Changelog/styles.scss";
@import "components/Galleries/styles.scss";
@import "components/Help/styles.scss";
@import "components/Images/styles.scss";
@import "components/List/styles.scss";
@import "components/Groups/styles.scss";
@import "components/Performers/styles.scss";
@import "components/FrontPage/styles.scss";
@import "components/Scenes/styles.scss";
@import "components/Sources/styles.scss";
@import "components/SceneDuplicateChecker/styles.scss";
@import "components/SceneFilenameParser/styles.scss";
@import "components/ScenePlayer/styles.scss";
@import "components/Settings/styles.scss";
@import "components/Setup/styles.scss";
@import "components/Studios/styles.scss";
@import "components/Shared/styles.scss";
@import "components/Shared/GridCard/styles.scss";
@import "components/Shared/Rating/styles.scss";
@import "components/Shared/PackageManager/styles.scss";
@import "components/Tags/styles.scss";
@import "components/Wall/styles.scss";
@import "components/Tagger/styles.scss";
@import "hooks/Lightbox/lightbox.scss";
@import "hooks/Interactive/interactive.scss";
@import "components/Dialogs/IdentifyDialog/styles.scss";
@import "components/Dialogs/styles.scss";
@import "flag-icons/css/flag-icons.min.css";

/* stylelint-disable */
#root {
  position: relative !important;
}
/* stylelint-enable */

html {
  font-size: 14px;
}

body {
  color: $text-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
  padding: $navbar-height 0 0 0;

  @include media-breakpoint-down(xs) {
    @media (orientation: portrait) {
      padding: 0.5rem 0 $navbar-height;
    }
  }
}

.main {
  @include media-breakpoint-up(sm) {
    padding-top: 0.5rem;
  }
}

#group-page,
#performer-page,
#studio-page,
#tag-page {
  margin-top: -0.5rem;
}

code,
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

dd {
  overflow: hidden;
  white-space: pre-line;
}

.sticky.detail-header {
  display: block;
  min-height: $sticky-detail-header-height;
  padding: unset;
  position: fixed;
  top: $navbar-height;
  z-index: 10;

  @media (max-width: 576px) {
    display: none;
  }

  .group-name,
  .performer-name,
  .studio-name,
  .tag-name {
    font-weight: 800;
  }

  .sticky.detail-header-group {
    padding: 1rem 2.5rem;

    a.group-name,
    a.performer-name,
    a.studio-name,
    a.tag-name {
      color: #f5f8fa;
      cursor: pointer;
      font-weight: 800;
    }

    a,
    span {
      color: #d7d9db;
      font-weight: 600;
      padding-right: 0.5rem;
    }

    .detail-divider {
      font-size: 1rem;
      font-weight: 400;
      opacity: 0.6;
    }
  }
}

.detail-expand-collapse {
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle,
  .btn-primary:hover {
    background: rgba(138, 155, 168, 0.15);
    background-color: rgba(138, 155, 168, 0.15);
    border-color: rgba(138, 155, 168, 0.15);
    box-shadow: unset;
    color: #f5f8fa;
  }
}

.detail-header {
  background-color: #192127;
  min-height: 15rem;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  transition: 0.3s;
  width: 100%;
  z-index: 11;

  .detail-group,
  .col {
    transition: 0.2s;

    @media (max-width: 576px) {
      padding-top: 0.5rem;
    }
  }

  .background-image-container {
    bottom: -0.2rem;
    left: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: -0.2rem;
    z-index: auto;

    .background-image {
      filter: blur(16px);
      height: 100%;
      object-fit: cover;
      object-position: 50% 30%;
      width: 100%;
    }
  }

  .detail-container {
    height: 100%;
    position: relative;
    z-index: 20;

    .detail-item-value.age {
      border-bottom: 1px dotted #f5f8fa;
      margin-right: auto;
    }

    .performer-disambiguation {
      letter-spacing: -0.04rem;
      opacity: 0.65;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  .country,
  .performer-country {
    .mr-2.fi {
      margin-left: 0.5rem;
    }
  }

  .alias-head {
    color: #868791;
  }

  .detail-expand-collapse,
  .name-icons {
    margin-left: 10px;
  }
}

.btn.link {
  color: $link-color;

  &:hover:not(:disabled),
  &:active:not(:disabled) {
    color: $link-color;
  }
}

.detail-header.edit {
  background-color: unset;
  overflow: visible;

  form {
    padding-top: 0.5rem;
  }

  .details-edit {
    padding-top: 1rem;
  }

  .detail-header-image {
    height: auto;
  }

  /* StashID alignment fix */
  .form-group.row .row.no-gutters {
    padding-top: calc(0.375rem + 1px);
  }
}

.detail-header.collapsed {
  .detail-header-image img {
    max-width: 11rem;
    transition: 0.5s;
  }
}

.detail-body {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;

  nav {
    align-content: center;
    border-bottom: solid 2px #192127;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px 0;
  }

  .tab-content {
    padding-bottom: 0;
  }

  .item-list-header {
    align-content: center;
    // border-bottom: solid 2px #192127;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px 0 0 0;
  }

  .item-list-container {
    padding-top: 15px;

    // this breaks sticky sidebar - need to work out why this is here
    // @media (max-width: 576px) {
    //   overflow-x: hidden;
    // }
  }
}

.collapsed .detail-item-value {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.full-width {
  .detail-header-image {
    height: auto;

    img {
      max-width: 22rem;
    }
  }

  .detail-item {
    display: table;
    padding-right: 0;
    width: 100%;

    .detail-item-title {
      display: table-cell;
      width: 130px;
    }

    .detail-item-value.age {
      border-bottom: unset;
      width: fit-content;
    }
  }

  .detail-item-title.tags,
  .detail-item-title.parent-tags,
  .detail-item-title.sub-tags {
    padding-top: 4px;
  }
}

.detail-header-image {
  display: flex;
  float: left;
  height: 100%;
  justify-content: center;
  padding: 0 1rem;

  .group-images {
    height: 100%;
  }

  @media (max-width: 576px) {
    float: unset;
    height: auto;
    padding: 0;

    .group-images {
      .img {
        max-width: 100%;
      }
    }
  }

  img {
    margin: auto;
    max-width: 14rem;
    transition: 0.5s;
  }

  .group-images img {
    @media (max-width: 576px) {
      max-width: 100%;
    }
  }
}

#group-page .detail-header-image .group-images img {
  max-width: 13rem;
}

#group-page .detail-header-image img,
#performer-page .detail-header-image img,
#tag-page .detail-header-image img {
  border-radius: 0.5rem;
}

#tag-page {
  .full-width .detail-header-image img {
    max-width: 22rem;
  }

  .detail-header.collapsed .detail-header-image img {
    max-width: 18rem;
  }

  .detail-header-image img {
    max-width: 20rem;

    @media (max-width: 576px) {
      max-width: 100%;
    }
  }
}

.detail-item.tags .pl-0 {
  margin-bottom: 0;
}

.detail-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.detail-item {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  padding-right: 4rem;

  @media (max-width: 576px) {
    padding-right: 2rem;
  }
}

/* the .apple class denotes areas where rendering on some apple platforms has been inconsistent with other platforms
   these rules aim to address those inconsistences */
.apple {
  @media (min-width: 576px) {
    .detail-header {
      .detail-container {
        display: flex;
      }
    }

    .detail-header.edit .row {
      flex: 1;
    }

    .detail-header.full-width .detail-header-image,
    .detail-header.edit .detail-header-image {
      display: unset;
    }
  }
}

.detail-item-title {
  color: #868791;
  font-weight: 700;
}

.detail-item-value {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: pre-line;

  .birthdate,
  .height-imperial,
  .penis-length-imperial,
  .weight-imperial {
    opacity: 0.65;
  }
}

.input-control,
.text-input {
  border: 0;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  color: $text-color;

  &:focus {
    border: 0;
    box-shadow: 0 0 0 1px $primary, 0 0 0 1px $primary,
      0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
      inset 0 1px 1px rgba(16, 22, 26, 0.4);
    color: $text-color;
  }
}

.input-control,
.input-control:focus,
.input-control:disabled {
  background-color: $secondary;
}

.input-control:disabled {
  opacity: 0.8;
}

.text-input,
.text-input:focus,
.text-input[readonly],
.text-input:disabled {
  background-color: $textfield-bg;
}

textarea.text-input {
  line-height: 2.5ex;
  min-height: 12ex;
  overflow-y: scroll;
}

/* stylelint-disable declaration-no-important */
.border-row {
  background-color: #414c53;
  height: 1px;
  padding: 0 !important;
}
/* stylelint-enable declaration-no-important */

@media (max-width: 576px) {
  .row.justify-content-center {
    margin-left: 0;
    margin-right: 0;
  }
}
