// variables required by other scss files

// this is calculated from the existing height
$navbar-height: 48.75px;

$sticky-detail-header-height: 50px;

$sidebar-width: 250px;

@import "styles/theme";
@import "styles/range";
@import "styles/scrollbars";
@import "sfw-mode.scss";
@import "components/Changelog/styles.scss";
@import "components/Galleries/styles.scss";
@import "components/Help/styles.scss";
@import "components/Images/styles.scss";
@import "components/List/styles.scss";
@import "components/Groups/styles.scss";
@import "components/Performers/styles.scss";
@import "components/FrontPage/styles.scss";
@import "components/Scenes/styles.scss";
@import "components/Sources/styles.scss";
@import "components/SceneDuplicateChecker/styles.scss";
@import "components/SceneFilenameParser/styles.scss";
@import "components/ScenePlayer/styles.scss";
@import "components/Settings/styles.scss";
@import "components/Setup/styles.scss";
@import "components/Studios/styles.scss";
@import "components/Shared/styles.scss";
@import "components/Shared/GridCard/styles.scss";
@import "components/Shared/Rating/styles.scss";
@import "components/Shared/PackageManager/styles.scss";
@import "components/Tags/styles.scss";
@import "components/Wall/styles.scss";
@import "components/Tagger/styles.scss";
@import "hooks/Lightbox/lightbox.scss";
@import "hooks/Interactive/interactive.scss";
@import "components/Dialogs/IdentifyDialog/styles.scss";
@import "components/Dialogs/styles.scss";
@import "flag-icons/css/flag-icons.min.css";

/* stylelint-disable */
#root {
  position: relative !important;
}
/* stylelint-enable */

html {
  font-size: 14px;
}

body {
  color: $text-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
  padding: $navbar-height 0 0 0;

  @include media-breakpoint-down(xs) {
    @media (orientation: portrait) {
      padding: 0.5rem 0 $navbar-height;
    }
  }
}

.main {
  @include media-breakpoint-up(sm) {
    padding-top: 0.5rem;
  }
}

#group-page,
#performer-page,
#studio-page,
#tag-page {
  margin-top: -0.5rem;
}

code,
pre {
  white-space: pre-wrap;
}
